<div>
  <div>
    <h1>
      List of all threepl recs
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new threepl rec
    </h2>

    <form action="/insert_threepl_rec" method="post">
      <div>
        <label for="product_id_box">
          Product
        </label>

        <input type="text" id="product_id_box" name="query_product_id">
      </div>

      <div>
        <label for="three_pl_id_box">
          Three pl
        </label>

        <input type="text" id="three_pl_id_box" name="query_three_pl_id">
      </div>

      <div>
        <input type="checkbox" id="selected_box" name="query_selected" value="1">

        <label for="selected_box">Selected</label>
      </div>

      <button>
        Create threepl rec
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table>
      <tr>
        <th>
          ID
        </th>

        <th>
          Product
        </th>

        <th>
          Three pl
        </th>

        <th>
          Selected
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_threepl_recs.each do |a_threepl_rec| %>
      <tr>
        <td>
          <%= a_threepl_rec.id %>
        </td>

        <td>
          <%= a_threepl_rec.product_id %>
        </td>

        <td>
          <%= a_threepl_rec.three_pl_id %>
        </td>

        <td>
          <%= a_threepl_rec.selected %>
        </td>

        <td>
          <%= time_ago_in_words(a_threepl_rec.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_threepl_rec.updated_at) %> ago
        </td>

        <td>
          <a href="/threepl_recs/<%= a_threepl_rec.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
