<div>
  <div>
    <h1>
      List of all products
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new product
    </h2>

    <form action="/insert_product" method="post">
      <div>
        <label for="length_box">
          Length
        </label>

        <input type="text" id="length_box" name="query_length">
      </div>

      <div>
        <label for="width_box">
          Width
        </label>

        <input type="text" id="width_box" name="query_width">
      </div>

      <div>
        <label for="height_box">
          Height
        </label>

        <input type="text" id="height_box" name="query_height">
      </div>

      <div>
        <label for="weight_box">
          Weight
        </label>

        <input type="text" id="weight_box" name="query_weight">
      </div>

      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name">
      </div>

      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id">
      </div>

      <div>
        <label for="units_shipped_per_month_box">
          Units shipped per month
        </label>

        <input type="text" id="units_shipped_per_month_box" name="query_units_shipped_per_month">
      </div>

      <button>
        Create product
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table>
      <tr>
        <th>
          ID
        </th>

        <th>
          Length
        </th>

        <th>
          Width
        </th>

        <th>
          Height
        </th>

        <th>
          Weight
        </th>

        <th>
          Name
        </th>

        <th>
          User
        </th>

        <th>
          Units shipped per month
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_products.each do |a_product| %>
      <tr>
        <td>
          <%= a_product.id %>
        </td>

        <td>
          <%= a_product.length %>
        </td>

        <td>
          <%= a_product.width %>
        </td>

        <td>
          <%= a_product.height %>
        </td>

        <td>
          <%= a_product.weight %>
        </td>

        <td>
          <%= a_product.name %>
        </td>

        <td>
          <%= a_product.user_id %>
        </td>

        <td>
          <%= a_product.units_shipped_per_month %>
        </td>

        <td>
          <%= time_ago_in_words(a_product.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_product.updated_at) %> ago
        </td>

        <td>
          <a href="/products/<%= a_product.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
